body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px 0;
}
button {
  outline: none !important;
}
ol,
ul {
  padding-left: 30px;
}
input,
textarea,
button,
select,
div,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
